@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.box {
  border: 1px solid #333;
  padding: 20px;
}
hr {
  background-color: #333;
  border: none;
  height: 1px;
}
#main {
  margin: 10px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    'goals team timeline'
    'scopes primary timeline';
  gap: 15px;
}
@media screen and (max-width: 991px) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'goals'
      'scopes'
      'team'
      'primary'
      'timeline';
  }
}
.goals {
  grid-area: goals;
}
.team {
  grid-area: team;
}
.scopes {
  grid-area: scopes;
}
.primary {
  grid-area: primary;
}
.timeline {
  grid-area: timeline;
}
.title {
  color: #199cdb;
  font-weight: 700;
}
.icon {
  font-size: 35px;
  text-align: center;
}
.timeline-number {
  background-color: #199cdb;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #333;
  color: #fff;
  font-size: 16px;

  height: 2.5em;
  width: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}
.border-bottom-dotted {
  border-bottom: 1px dashed #199cdb;
}
